---
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import Home from './Home.astro';
import Skills from './skills.astro';
import Projects from './Projects.astro';
---
<div class="parent">
    <div class="div1"><Home/></div>
    <div class="div2"><Skills/></div>
    <div class="div3">3</div>
    <div class="div4"><Projects/></div>
</div>
    