---
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import Home from './Home.astro';
import Skills from './Skills.astro';
import Projects from './Projects.astro';
import Level from './Level.astro';
import More from './More.astro';
---

<div class="parent">
    <div class="div1"><Home /></div>
    <div class="div2"><Level /></div>
    <div class="div3"><Skills /></div>
    <div class="div4"><More /></div>
    <div class="div5"><Projects /></div>
</div>
