---
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import Profile from './Profile.astro';
import Skills from './Skills.astro';
import Projects from './Projects.astro';
import Level from './Level.astro';
import Extras from './Extras.astro';
---

<div class="parent">
    <div class="div-profile"><Profile /></div>
    <div class="div-level"><Level /></div>
    <div class="div-skills"><Skills /></div>
    <div class="div-extras"><Extras /></div>
    <div class="div-projects"><Projects /></div>
</div>
