<div class="first">
    <div class="imageContainer">
        <img class="image" src="/perfil.jpeg" alt="" />
    </div>

    <div class="data">
        <div class="nameContainer">
            <p class="name">Mateo Bertello</p>
            <div class="cityContainer">
                <img class="flag" src="/arg.png" alt="" />
                <p class="city">Rosario, Santa Fe, Argentina</p>
            </div>
        </div>

        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, rem. Vel quasi accusamus sunt ad earum, voluptate ut corporis quo itaque corrupti laborum perferendis molestias quis
            ullam! At, magni labore.
        </p>
    </div>
</div>
