<div class="first">
    <div class="imageContainer">
        <img class="image" src="/perfil.jpeg" alt="" />
    </div>

    <div class="data">
        <div class="nameContainer">
            <p class="name">Mateo Bertello</p>
            <div class="cityContainer">
                <img class="flag" src="/arg.png" alt="" />
                <p class="city">Rosario, Santa Fe, Argentina</p>
            </div>
        </div>

        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, rem. Vel quasi accusamus sunt ad earum, voluptate ut corporis quo itaque corrupti laborum perferendis molestias quis
            ullam! At, magni labore.
        </p>
    </div>
    <div class="stats">
        <div class="levelContainer">
            <p class="level">Junior</p>
<!--             <div class="circle">
                <p class="number">22</p>
            </div> -->
        </div>

        <div class="best">
            <img class="image2" src="/react.png" alt="" />
            <div class="badget">
                <p class="name">Frontend React Developer</p>
                <!-- <p class="xp">5 años</p> -->
            </div>
        </div>
    </div>
</div>
