<div class="more">
    <div class="container-more">
        <div class="title">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"
                ><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M304 384v-24c0-29 31.54-56.43 52-76c28.84-27.57 44-64.61 44-108c0-80-63.73-144-144-144a143.6 143.6 0 0 0-144 144c0 41.84 15.81 81.39 44 108c20.35 19.21 52 46.7 52 76v24m16 96h64m-80-48h96m-48-48V256"
                ></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M294 240s-21.51 16-38 16s-38-16-38-16"></path></svg
            >
            <p>Soft Skills</p>
        </div>

        <div class="softskills">
            <p>Trabajo en equipo</p>
            <p>Comunicaci칩n</p>
            <p>Resoluci칩n de problemas</p>
            <p>Adaptabilidad</p>
            <p>Creatividad</p>
        </div>
    </div>
    <div class="container-more">
        <div class="title">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"
                ><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208s208-93.13 208-208S370.87 48 256 48Z"
                ></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-miterlimit="10"
                    stroke-width="32"
                    d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48Z"></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34m0 277.34c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34"></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-miterlimit="10"
                    stroke-width="32"
                    d="M256 48v416m208-208H48"></path></svg
            >
            <p>Idiomas</p>
        </div>

        <div class="languages">
            <div class="language">
                <p>Espa침ol</p>
                <p>Nativo</p>
            </div>
            <div class="language">
                <p>Ingles</p>
                <p>B치sico-alto</p>
            </div>
        </div>
    </div>
    <div class="container-more">
        <div class="title">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"
                ><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 64C150 64 64 150 64 256s86 192 192 192s192-86 192-192S362 64 256 64Z"></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M256 128v144h96"></path></svg
            >
            <p>Disponibilidad</p>
        </div>

        <div class="availability">
            <p>Tiempo completo</p>
        </div>
    </div>
    <div class="container-more">
        <div class="title">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"
                ><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81c-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0 0 18 0c96.26-65.34 184.09-143.09 183-252.42c-.54-52.67-42.32-96.81-95.08-96.81"
                ></path></svg
            >
            <p>Hobbies</p>
        </div>

        <div class="softskills softskills2">
            <p>Peliculas</p>
            <p>Futbol</p>
            <p>Musica</p>
            <p>Correr</p>
        </div>
    </div>
</div>
