---
const { translations } = Astro.props;
---

<div class="profile">
    <img class="profile-picture" src="/perfil.jpeg" alt="" />
    <div class="profile-info">
        <div class="profile-header">
            <p class="profile-name">{translations?.profile?.nombre}</p>
            <div class="profile-location">
                <img class="country-flag" src="/arg.png" alt="" />
                <p class="location-text">{translations?.profile?.ciudad}</p>
            </div>
        </div>
        <div class="profile-description">
            <p>{translations?.profile?.descripcion}</p>
        <!-- <p class="see-more">Ver más...</p> -->
            
        </div>
        
    </div>
</div>
