* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, black 100%),
        url('https://steamuserimages-a.akamaihd.net/ugc/792007521116448905/F7A121A3F7A929FFB4DBC3AE241B3B4B6EAAED1D/') no-repeat center top;
        background-color: black;
}

.home {
    background-color: #1e1717;
    max-width: 976px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 30px 20px;
    //display: flex;
    //flex-direction: column;
    //gap: 30px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: repeat(3, 1fr);
    gap: 40px 10px;
}
    
.div-profile {
    grid-column: span 2;
}

.div-level {
    grid-column-start: 3;
}

.div-skills {
    grid-column: span 2;
    grid-row-start: 2;
}

.div-extras {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div-projects {
    grid-column: span 3;
    grid-row-start: 3;
}

@media (max-width: 976px) { 
    .div-skills {
        grid-column: span 3;
        grid-row-start: 2;
    }
    
    .div-extras {
        grid-column: span 3;
        grid-row-start: 3;
    }
    
    .div-projects {
        grid-row-start: 4;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 30px 10px;
    }
    .div-profile {
        grid-column: span 3;
    }
    
    .div-level {
        grid-column: span 3;
        grid-row-start: 2;
    }
    .div-skills {
        grid-row-start: 3;
    }
    
    .div-extras {
        grid-row-start: 4;
    }
    
    .div-projects {
        grid-row-start: 5;
    }
}
        
        
        