.profile {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .profile-picture {
        width: 164px;
        height: 164px;
        border: solid 2px #676767;
    }
    .profile-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .profile-header {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .profile-name {
                font-size: 24px;
                font-weight: 200;
                color: #fff;
            }
            .profile-location {
                display: flex;
                gap: 4px;
                align-items: center;
                .country-flag {
                    width: 16px;
                    height: 11px;
                }
                .location-text {
                    font-size: 13px;
                    font-weight: 400;
                    color: #c4c4c4;
                }
            }
        }
        .profile-description {
            font-size: 13px;
            font-weight: 400;
            color: #c4c4c4;
        }
    }
}

@media (max-width: 449px) {  
    .profile {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .profile-info {
            align-items: center;
            gap: 15px;
            text-align: center;
        }
    }
}
