.navbar {
    background-color: var(--bg-navbar-footer);

    display: flex;
    flex-direction: column;
    gap: 10px;
    .navbar1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 0 20px;
        min-height: 44px;
        p {
            font-size: 11px;
            font-weight: 400;
            color: #a2a9b2;
        }
    }

    .navbar1-1 {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
            display: flex;
            gap: 4px;
            align-items: center;
            //cursor: pointer;
            .logo-text {
                color: var(--profile-color-text);
            }
            .icon {
                background-color: var(--navbar-logo-bg);
                border-radius: 100%;
                transition: 0.3s;
                path {
                    fill: var(--bg-navbar-footer);
                }
            }

            /*  &:hover {
                p {
                    color: var(--title-color);
                }
                .icon {
                    background-color: var(--title-color);
                }
            } */
        }

        /*     p {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: var(--title-color);
            }
        } */
    }
    .navbar1-2 {
        display: flex;
        gap: 10px;
        align-items: center;
        .icon-container {
            background-color: var(--navbar-buttons-bg);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 30px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: var(--navbar-buttons-hover-bg);
            }

            .icon {
                width: 25px;
            }
            .cv {
                color: var(--title-color);
                font-size: 16px;
                font-weight: 500;
            }
        }
        .cv2 {
            display: flex;
            align-items: center;
            gap: 5px;
            transition: 0.3s;
        }
        .profile {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: var(--navbar-buttons-bg);
            padding: 0 10px;
            cursor: default;
            height: 100%;
            transition: 0.3s;
            p {
                color: var(--profile-color-text) !important;
            }
            .image {
                width: 27px;
                height: 27px;
            }
        }
    }

    .navbar2 {
        display: flex;
        gap: 30px;
        margin: 0 auto;
        padding-bottom: 30px;
        min-height: 53px;
        a {
            font-size: 20px;
            font-weight: 500;
            color: var(--title-color);
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                color: var(--navbar-text-hover);
            }
        }
    }
}
.navbar-mobile-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-mobile-fixed);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9998;
    /*     transform: translateX(100%);
    transition: transform 0.3s ease; */
}
.navbar-mobile {
    svg {
        width: 10px;
        height: 10px;
    }

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    color: white;
    background-color: #222;
    padding: 20px;
    right: -100%;
    transition: 0.3s;
    z-index: 9999;
    position: fixed;
    /*         transform: translateX(100%);
    transition: transform 0.3s ease; */
    .mobile-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
        .close {
            width: 30px;
            height: 30px;
            background-color: var(--navbar-mobile-close-btn-bg);
            border-radius: 9999px;
            svg {
                padding: 6px;
                width: 30px;
                height: 30px;
            }
        }
        .profile {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            p {
                font-size: 14px;
                color: #fff;
                font-weight: 600;
            }
            .image {
                width: 50px;
                height: 50px;
                border-radius: 1000px;
            }
        }
    }
    .mobile-body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .mobile-footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid grey;
        padding-top: 30px;
        align-items: center;
        margin-top: auto;
        .cv-mobile {
            display: flex;
            align-items: center;
            padding: 10px 30px;
            width: 100%;
            background-color: var(--navbar-buttons-bg);
            cursor: pointer;
            transition: 0.3s;
            justify-content: center;
            border-radius: 10px;
            gap: 5px;
            p {
                font-size: 16px;
                font-weight: 500;
                color: var(--title-color);
            }
            svg {
                width: 25px;
                height: 25px;
            }
        }
        .icons-mobile {
            display: flex;
            align-items: center;
            gap: 30px;
            svg {
                color: white;
                width: 27px;
                height: 27px;
            }
        }
    }
}
.navbar-open {
    /*     transform: translateX(0) !important;
    transition: transform 0.3s ease !important; */
    right: 0 !important;
}
.navbar-open2 {
    position: absolute;
    right: 0 !important;
    transition: 0.3s;
    display: block;
    /*     transform: translateX(0) !important;
    transition: transform 0.3s ease !important; */
}
.hamburger {
    display: none;
}

.idioma-container {
    background-color: var(--navbar-buttons-bg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    width: 130px;
    .btn-language {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        p {
            font-size: 14px;
            font-weight: 400;
            color: var(--title-color);
        }
    }

    &:hover {
        background-color: var(--navbar-buttons-hover-bg);
    }

    // Evita el hover cuando el cursor está sobre .idiomas
    &:has(.idiomas:hover) {
        background-color: var(--navbar-buttons-bg) !important;
    }
    .open {
        opacity: 1 !important;
        display: block !important;
    }

    .idiomas {
        position: absolute;
        top: 120%;
        background-color: var(--navbar-buttons-bg);
        width: 100%;
        border: 1px solid var(--idiomas-border);
        opacity: 0;
        display: none;
        transition: 0.2s;
        .idioma {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                background-color: var(--navbar-buttons-hover-bg);
            }
            svg {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }

        p {
            font-size: 14px;
            font-weight: 400;
            padding: 20px 0 20px 10px;
            color: var(--title-color);
        }
    }
}
.icon-navbar-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    transition: 0.3s;
    background-color: var(--navbar-buttons-bg);
    &:hover {
        background-color: var(--navbar-buttons-hover-bg);
    }
}
.navbariconcolor {
    path {
        fill: var(--title-color) !important;
    }
}

.arrow-language {
    path {
        stroke: var(--title-color) !important;
    }
}

.moon-icon {
    path {
        stroke: var(--title-color) !important;
    }
}

.navbar {
    .icon-container {
        position: relative;
    }
    .tooltip {
        position: absolute;
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 0.8rem;
        top: 42px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        white-space: nowrap;
        pointer-events: none;
    }
    .tooltip::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }
    .icon-container:hover .tooltip {
        opacity: 1;
        visibility: visible;
    }
    .icon-email {
        g {
            stroke: var(--title-color);
        }
    }
}

@media (max-width: 1200px) {
    .navbar1 {
        padding: 20px 20px 20px 20px !important;
        .navbar1-1 {
            width: 100%;
            gap: 20px;
        }
        .navbar1-2 {
            display: none;
        }
    }
    .navbar2 {
        display: none !important;
    }
    .hamburger {
        display: flex;
        width: 25px;
        height: 25px;
        margin-left: auto;
        cursor: pointer;
        path {
            stroke: var(--title-color);
        }
    }
    .hamburger:hover path {
        stroke: rgb(198, 198, 198);
    }
}
