.projects {
    width: 100%;
    //max-width: 70%;
    background-color: #141111;
    border-radius: 5px;
    .projects-title {
        background-color: #090808;
        padding: 11px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        p {
            color: #fff;
            font-size: 25px;
            font-weight: 500;
            display: inline;
        }
    }
    .projects-list {
        padding: 20px 10px;
        .projects-group {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .project-card {
                display: flex;
                background-color: #0e0c0c;
                padding: 20px 10px;
                gap: 30px;
                .project-img-container {
                    display: flex;
                    align-items: center;
                    .project-image-container2 {
                        position: relative;
                        .project-image-desktop {
                            width: 350px;
                        }
                        .project-image-mobile {
                            position: absolute;
                            right: 10px;
                            top: -15px;
                            rotate: 20deg;
                            width: 130px;
                        }
                    }
                }
                .project-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                    .project-header {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-size: 24px;
                            font-weight: 500;
                            color: #fff;
                        }
                        .project-tags {
                            display: flex;
                            gap: 5px;
                        }

                        .tag {
                            font-size: 14px;
                            font-weight: 400;
                            color: #008efb;
                            background-color: #171f2f;
                            padding: 5px 10px;
                            border-radius: 30px;display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                        .tag-orange {
                            color: #f97316;
                            background-color: #2a1e12;
                        }
                        .tag-green {
                            color: #10b981;
                            background-color: #182a24;
                        }
                    }
                    .project-description {
                        font-weight: 400;
                        font-size: 16px;
                        color: #9ca3af;
                    }
                    .project-technologies {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 5px 10px;
                        p {
                            background-color: #2a2a2a;
                            padding: 5px 10px;
                            border-radius: 20px;
                            color: #d1d5db;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                    .project-buttons {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        .btn {
                            background-color: #2a2a2a;
                            font-size: 16px;
                            font-weight: 400;
                            color: #fff;
                            padding: 10px 20px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            transition: 0.3s;
                            &:not(.btn-disable):hover {
                                transform: scale(1.1);
                                background-color: #3e3e3e;
                            }
                        }
                        .btn-disable {
                            opacity: 0.5;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}

.project-img-container3 {
    display: none !important;
}

@media (max-width: 976px) { 
    .projects {
        .projects-list {
            .projects-group {
                gap: 15px;
                .project-card {
                    flex-direction: column;
                    .project-img-container {
                        justify-content: center;
                        display: none;
                    }
                    .project-info {
                        .project-header {
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
    .project-img-container3 {
        display: flex !important;
    }
}
