.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .skill-category {
        background-color: var(--projects-skills-bg);
        border-radius: 5px;
        .skill-title {
            background-color: var(--projects-skills-projects-title);
            padding: 11px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            p {
                font-size: 16px;
                font-weight: 500;
                color: var(--title-color);
            }
        }
        .skill-list {
            padding: 20px 10px;
            background-color: var(--skills-bg);
            .skill-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px;
                background-color: var(--extras-projectcard-skillsgroup-bg);
                gap: 28px;
                flex-wrap: wrap;
                .skill-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 59.53px;
                    height: 59.53px;

                    .skill-icon {
                        cursor: pointer;
                        background-color: var(--skill-icon-bg);
                        padding: 10px;
                        transition: 0.3s;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .icon-color {
                        g {
                            fill: var(--white-black);
                        }
                        
                    }
                    .tooltip {
                        position: absolute;
                        bottom: 120%;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: var(--skill-tooltip-bg);
                        color: black;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 12px;
                        white-space: nowrap;
                        opacity: 0;
                        transition: opacity 0.3s;
                        pointer-events: none;
                    }
                    .tooltip-arrow {
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid var(--skill-tooltip-bg);
                    }
                }
                .skill-item:hover .tooltip {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 976px) {

}
